.layout{
    display:grid;
    grid-template-areas:
    "largebox largebox"
    "duobox1 duobox2"
    "medbox medbox";
    gap: 10px;
    background-image: url("images/background_paper.png")
}

.largebox#first{
    grid-area: largebox;
    background-color: transparent;
    }
.duobox#first{
    grid-area:duobox1;
    border-radius: 10% 7% 7% 10%;
    overflow: hidden;
    object-fit:cover;
    }
.duobox#first > img{
    width:101%;
    align-self: center;
    clip-path: inset(0px 11px 0px 11px)
}
.duobox#second{
    grid-area:duobox2;
    border-radius: 7%;
    overflow: hidden;
    object-fit:cover;
    }
.medbox{
    background-color:transparent;
}
